/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*   end of da reset homie  */

body {
	width: 960px;
	margin: 0 auto;
	background-color: rgb(232, 72, 69);
}


header {
	color: white;
	font-size: 2em;
	font-family: georgia;
	font-style: italic;
}


.post {
	float: left;
	background-color: ivory;
	padding: 30px;
	margin: 10px;
	border-radius: 10%;
	text-align: center;
	line-height: 1.3em;
}

.post img {
	border-radius: 15%;
}

.postTitle {
	font-family: helvetica, sans-serif;
	font-size: 13pt;
}
.author {
	font-family: georgia;
	font-style: italic;
}

.likes {
	font-family: helvetica, sans-serif;
	font-size: .6em;
}



.overlay {
  display: none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:black;
  opacity:0.5;
  margin:0 auto;
}

.details {
  display: none;
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  margin:auto;
  width:700px;
  height:500px;
  background-color:white;
  padding:20px 50px;
  border-radius:10px;
}
