

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*   end of da reset homie  */

body{
  background-color: beige;
}

.base {
  position: absolute;
  top: 300px;
  left: 155px;
  width: 120px;
  height: 300px;
  border-radius: 15%;
  background-color: black;

}
.label {
  position: absolute;
  top: 55px;
  width: 120px;
  height: 125px;
  border-radius: 3%;
  background-color: darkred;
  z-index: 1;

}

.neck{
  position: absolute;
  top: 165px;
  left: 200px;
  width: 30px;
  height: 98px;
  border-radius: 5%;
  background-color: black;

}
.cap {
  position: absolute;
  width: 30px;
  height: 20px;
  border-radius: 10%;
  background-color: darkred;

}

.circle {
  position: absolute;
  top: 260px;
  left: 155px;
  width: 120px;
  height: 150px;
  border-radius: 40%;
  background-color: black;
}



.bottle:hover {
-webkit-animation: fall 5s linear ;
}

@-webkit-keyframes fall {
   0% { -webkit-transform: translate(0,0); }
   25%  { -webkit-transform: translate(-50px,0px);
          -webkit-transform: rotate(10deg);
          transform-origin: (0,0); }
    50% {  -webkit-transform: translate(-600px, 600px);}
    75% { -webkit-transform: translate(1200px, 1200px);}
    76% { -webkit-transform: translate(1200px, 0px);}
    100%{ -webkit-transform: translate(0,0);}
 
    
}



.table {
  position: absolute;
  top: 600px;
  left: 155px;
  width: 10000px;
  height: 35px;
  background-color: brown;

}
.leg{
  position: absolute;
  left: 155px;
  width: 50px;
  height: 10000px;
  background-color: brown;
}
