

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

body {
	background-image:url(images/tweed.png);

}
header{
	margin: 0 auto;
	width: 1148px;
	height: 50px;
}

header h1 {
	float: left;
	display: inline;
	font-size: 3em;
	font-family: 'Carrois Gothic SC', sans-serif;
}

header h1 a {
	text-decoration: none;
	color:white;
}
#logo {
	width: 350px;
	height: 75px;
}

footer{
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 90%;
	max-width: 1148px;
	text-align: right;
	font-family: 'Inconsolata', sans-serif;
}

footer a {
	text-decoration: none;
	margin-left: 20px;
	color: white;

}





#topNav {
	margin: 15px 0 0 0;
	float: right;
	font-family: 'Inconsolata', sans-serif;
	font-size: 20px;
}

#topNav ul li {
	display: inline-block;
}

#topNav ul li a {
	text-decoration: none;
	color: white;
}

.navButton{
	height: 25px;
	width: 160px;
	text-align: center;

}
#canvas {
	margin: 0 auto;
	max-width: 1148px;
	height: 90%;
	background-color: lightgray;
	opacity: 0.8;
}

#detailCanvas {
	margin: 0 auto;
	max-width: 1148px;
	height: 600px;
	background-color: lightgray;
	opacity: 0.8;
}

.sneakerObject {
	margin: 10px 0px 10px 10px;
	display: inline-block;
}
.sneakertext{
	text-align: center;
	font-family: 'Inconsolata', sans-serif;
}


.sneakertext ul li {
	display: inline-block;
}

.sneakertext ul li  {
	margin: 2px;
	text-decoration: none;
	font-size: 12px;
	font-family: sans-serif;
	color: black;
}


/* this is where i begin styling the detail page */ 
.detailImages{
	margin: 30px;
	display: inline-block;
}
.detailSidebar{
	float: right;
	margin: 30px 20px 10px 0px;
	max-width: 500px;
	width: 50%;
	display: inline-block;

}
.detailSmallThumbs img {
	margin-top: 5px;
	margin-right: 6px;
}

.sneakerName {
	margin-bottom: 20px;
	font-size: 2.2em;
	font-family: 'Carrois Gothic SC', sans-serif;
}
.sneakerDesc {
	font-size: 15px;
	line-height: 1.3em;
	font-family: 'Inconsolata', sans-serif;
}

.detailButtons {
	margin-top: 30px;
	text-align: right;
}
.cart {

	height: 30px;
	width: 130px;
}

.size {

	height: 30px;
	width: 60px;
}