

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*   end of da reset homie  */
body{
	background-color: white;
}
header {
	position: relative;
	background-color: #ecf2d3;
	width: auto;
	height: 100px;
}
footer {
	background-color: #875c33;
}

#site-header h1 a { 
	position: absolute;
	display:block;
	height: 200px;
	text-indent:-9999px;
	position:absolute;
	width:300px; height:80px;
	background:url(images/logo.png) no-repeat left top;

}

#menu-wrapper {
	width: 1000px;




}

h1 {
	margin: 0px 0px 0px 300px;
	width: 450px;
	clear: both;
	color:#875c33;
	font-size: 3em;
	font-family: sans-serif;
	text-transform: uppercase;

	}
h2 {
	margin: 0px 0px 0px 300px;
	width: 450px;
	clear: both;
	color:#875c33;
	font-size: 1.5em;
	font-family: sans-serif;
	text-transform: uppercase;
}
p {
	font-size: 14px;
	font-family: sans-serif;
	margin: 0px 0px 0px 300px;
	width: 450px;
	float: left;
	line-height:20px;
	margin-bottom: 1em;
}



#main-menu a {
	float: left;
	background-color: #875c33;
	color: white;
	width: 100px;
	font-family: sans-serif;
	text-decoration: none;

}
#top-nav {
	background-color: #ecf2d3;
	width: auto;
	float: right;

}




aside {
	position: absolute;
	padding: 40px;
	left:600px;
	top: 125px;
}
aside h1 {
	font-size: 1em;

}


aside ul {
	margin-left:300px; 
}

aside ul a {
	color: #875c33;
	line-height: 30px;
	text-decoration: none;
	font-family: sans-serif;
}
aside img {
	margin-left:300px 
}
footer {
	height: 200px;
	color: white;
	background-color:#875c33;
	

}
footer h1 {
	color: white;
	font-size: 1em;
}

#footer-wrapper {
	height: 200px;
	position: relative;
}

















