/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */


body{
	max-width: 100%;
}

#pageOne {
	max-width: 100%;
	height: 1000px;
	margin: 0 auto;
	background-image: url('images/singlescroll/01.jpg');
	background-repeat:no-repeat;
	background-size: cover;
}

#pageTwo {
	max-width: 100%;
	height: 1000px;
	margin: 0 auto;
	background-image: url('images/singlescroll/02.jpg');
	background-repeat:no-repeat;
	background-size: cover;

}

#pageThree {
	max-width: 100%;
	height: 1000px;
	margin: 0 auto;
	background-image: url('images/tweed.png');

}



h1 {
	position: absolute;
	right: 0px;
	top: 350px;
	background-color: black;
	width: 25%;
	color: white;
	padding: 20px;
	font-size: 60px;
	font-family: 'Quantico', sans-serif;
	font-style: italic;
}



#main-nav {
	width: 100%;
	height: 50px;
	position: fixed;
	left: 0px;
	background-color: white;
	opacity: .8;
	z-index: 100;

}
#topLeft{
	float: left;
	font-family: 'Quantico', sans-serif;
	font-size: 1.4em;
	display: inline-block;
	text-transform: uppercase;
	padding-left: 100px;
	padding-top: 15px;
}

#topLeft a {
	text-decoration: none;
	color: black;
}




#productAbout {
	font-family: 'Quantico', sans-serif;
	font-size: 1.4em;
	display: inline-block;
	text-transform: uppercase;
	float: right;
	padding-right: 100px;
	padding-top: 15px;
}

#productAbout a {
	text-decoration: none;
	color: black;
}
#productAbout ul li {
	display: inline-block;
	padding-left: 30px;
}



#who {
	font-family: 'Quantico', sans-serif;
	font-style: italic;
	font-size: 2em;
	margin-bottom: 15px;
	padding-top: 200px;
}

#description {
	width: 300px;
	font-size: 1em;
	font-family: 'Quantico', sans-serif;
	line-height: 1.5em;

}
#secondPageType {
	width: 960px;
	margin: 0 auto;
	position: relative;
	color: white;

}

#thirdPageType {
	width: 792px;
	margin: 0 auto;
	position: relative;
}

.product {
	margin-bottom: 30px;
}

#productList {
	margin: 0 auto;
}

#productList img {
	opacity: .8;
}

#productList ul li  {
	float: left;
	padding-left: 30px;
}

#ourProducts {
	font-family: 'Quantico', sans-serif;
	width: 300px;
	margin: 0 auto;
	color: white;
	font-size: 2em;
	padding: 20px;
}

.sneakerName {
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: .8em;
}



footer {
	clear: both;
	color: white;
	background-color: black;
	width: 100%;
	height: 40px;
	font-family: 'Quantico';
	font-size: .8em;

}

footer p {
	margin-left: 350px;
}



/*overlay*/

.overlay {
  display: none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:black;
  opacity:0.5;
  margin:0 auto;
}

.details {
  display: none;
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  margin:auto;
  width:700px;
  height:500px;
  background-color:white;
  padding:20px 50px;
  border-radius:10px;
}

#detail-image {
	float: left;
}
#detail-description {
	font-family: courier;
	font-size: .8em;
	font-weight: lighter;
	padding-left: 30px;
	width: 300px;
	float: left;
	line-height: 1.2em;
}

#detail-price {
	float: right;
	font-family: courier;
	font-weight: bold;
	font-size: 1.3em;
	padding-left: 30px;
}

#detail-options {
float: left;
margin-left: 30px;
margin-top: 20px;
font-family: courier;
}

#detail-quantity {
	margin-top: 30px;
}



#add-to-cart {
	clear: both;
	margin-top: 30px;

}

#customButton {
	margin-top:30px;
	float: right; 

}
/* This button was generated using CSSButtonGenerator.com */

#detail-title {
	font-family: 'Quantico';
	font-size:2em;
	margin-bottom: 25px;
}

